pandas==2.2.2
python-dateutil==2.9.0.post0
pandera==0.20.3          # lightweight data contract checks
pre-commit==3.7.1        # hygiene
black==24.4.2
isort==5.13.2
scikit-learn==1.4.2
joblib==1.4.2
mlflow==2.14.3
matplotlib==3.8.4